.idea/*
.user.ini


images/*
supplier/images/*
mobile/images/*
admin/images/*

#缓存文件
/temp/backup/*
/temp/caches/*
/temp/compiled/*
/temp/query_caches/*
/temp/static_caches/*
/temp/index.htm

#mobile 缓存文件
/mobile/supplier/temp/caches/*
/mobile/supplier/temp/compiled/*
/mobile/supplier/temp/static_caches/*

*.sql
/data/config.php
/mobile/supplier/data/config.php

admin/images/ecshop_logo.png
favicon.ico
qrcode.png
supplier.png 
themes/68ecshopcom_360buy/images/logo.gif
mobile/temp
themes/ecmoban_kaola2016/*


33$goodslist$goodslist$goodslist.txt
data/supplier/*