<!-- $Id: order_query.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="../themes/68ecshopcom_360buy/css/user.css" />
<script type="text/javascript" src="../themes/68ecshopcom_360buy/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../themes/68ecshopcom_360buy/js/jquery.validate.js"></script>
<script type="text/javascript" src="../themes/68ecshopcom_360buy/js/messages_zh.js"></script>
<style>
  table,table tr th, table tr td { border:1px solid; }
</style>
<!-- {if $action eq "pay_view"} -->
<div class="main-div">
<form action="apply_pay.php" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return validate()">
  <table cellspacing="1" cellpadding="3" width="100%">
    <tr align="center">
      <td colspan="3" align="center"><b>{$lang.rank_level}：</b>{$rank.rank_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        |&nbsp;&nbsp;&nbsp;&nbsp;<b>{$lang.payment_money}：</b>{$rank.rank_money}</td>
      <input type="hidden" name="amount" value="{$rank.rank_money}" />
      <input type="hidden" name="user_note" value="{$lang.apply_pay_title}" />
    </tr>
    <tr align="center">
      <td colspan="3" align="left">{$lang.payment}:</td>
    </tr>
    <tr>
      <td colspan=4 class="tdother2">
        <script type="text/javascript">
            function checkboxOnclick(checkbox){
              var surplus = {$user_info.user_money|default:0};
              if (document.getElementById("issurplus").checked == true){
                document.getElementById("allow_user_surplus").style.display = "block";
                if(surplus < {$rank.rank_money}){
                  document.getElementById("ECS_SURPLUS").value = surplus;
                }else{
                  document.getElementById("ECS_SURPLUS").value = {$rank.rank_money};
                }
                changeSurplus(surplus);
              }else{
                document.getElementById("allow_user_surplus").style.display = "none";
                changeSurplus(0);
              }
            }
            window.onload=checkboxOnclick;
        </script>
        <div class="allow_user_surplus">
          <p style="float: left">
            <label class="is_user_surplus" for="issurplus"><input type="checkbox" id="issurplus" onclick="checkboxOnclick(this)" style="vertical-align:middle; cursor:pointer" />使用账户余额支付</label>
          </p>
          <div id="allow_user_surplus" style=" float: left">
            <span class="surplus_desc">
            <input name="surplus" type="text" class="surplus" id="ECS_SURPLUS" onkeyup= "if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(this.value)){alert('只能输入数字，小数点后只能保留两位');this.value='';}" value="0" onblur="changeSurplus(this.value);" />&nbsp;&nbsp;元</span>
            您当前的可用余额为<span class="your_surplus">{$user_info.formated_user_money|default:0} </span>
            <span id="ECS_SURPLUS_NOTICE_{$key}" class="notice"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr align="center">
      <td>{$lang.pay_name}</td>
      <td width="60%">{$lang.pay_desc}</td>
      <td width="17%">{$lang.pay_fee}</td>
    </tr>
    <!-- {foreach from=$payment item=list} -->
    <tr>
      <td align="left"><input type="radio" name="payment_id" id='payment_id' value="{$list.pay_id}" {if $list.pay_code eq 'alipay_bank'}id="alipay_bank_input"{/if}/>
        {$list.pay_name}</td>
      <td align="left">{$list.pay_desc}</td>
      <td align="center">{$list.pay_fee}</td>
      <!--{if $list.pay_code eq 'alipay_bank'}-->
    <tr><td colspan="3" style="background-color:#fff">
      <div class="payment_subbox"  style="display:block"> <!-- #BeginLibraryItem "/Library/alipay_bank.lbi" --><!-- #EndLibraryItem --> </div>
    </tr></td>
    <!--{/if}-->
    </tr>
    <!-- {/foreach} -->
    <tr>
      <td colspan="3"  align="center">
        <input type="hidden" name="r" value="{$rank.rank_id}"/>
        <input type="hidden" name="act" value="rank_pay" />
        <input type="submit" class="button" name="submit" value="{$lang.submit_request}" />
        <input type="reset" class="button" name="reset" value="{$lang.button_reset}" /></td>
    </tr>
  </table>
</form>
</div>
<!-- {/if} -->

  <!-- {if $action eq "act_account_rank"} -->
  <div class="header">
    <h2 class="header-logo" align="center"><span style="font-size: 30px; margin: 1cm 3cm 0cm 0cm">{$lang.apply_pay_title}</span></h2>
  </div>
  <table width="100%" border="0" cellpadding="10" cellspacing="1">
    <tr>
      <td width="25%" align="right">{$lang.rank_surplus_amount}</td>
      <td width="80%">{$amount}</td>
    </tr>
    <tr>
      <td align="right">{$lang.rank_payment_name}</td>
      <td>{$payment.pay_name}</td>
    </tr>
    <tr>
      <td align="right">{$lang.rank_payment_fee}</td>
      <td>{$pay_fee}</td>
    </tr>
    <tr>
      <td align="right" valign="middle">{$lang.rank_payment_desc}</td>
      <td>{$payment.pay_desc}</td>
    </tr>
    <tr>
      <td colspan="2">{$payment.pay_button}</td>
    </tr>
  </table>
  <!-- {/if} -->

{include file="pagefooter.htm"}
<script type="text/javascript">
  /**
   * 改变余额
   */
  function changeSurplus(val) {
    var selectedSurplus = {$user_info.user_money};
    if (selectedSurplus < val) {
      alert('{$lang.user_money_lt}');
    }
  }

  //检查输入金额
  function validate(){
    var formRadioFlag = false;
    var amount = {$rank.rank_money};
    var balance = document.getElementById("ECS_SURPLUS").value;
    var formRadio = document.getElementsByName('payment_id');
    for (var i = 0; i < formRadio.length; i++) {
      if (formRadio[i].checked) {
        formRadioFlag = true;
        break;
      }
    }
    if(balance > amount)
    {
      alert('{$lang.user_money_no}');
      return false;
    }
    if(balance == amount && formRadioFlag == true)
    {
      alert('{$lang.other_payment_no}');
      document.getElementById('payment_id').checked = false;
      return false;
    }
    if(balance < amount && formRadioFlag == false)
    {
      alert('{$lang.other_payment_sel}');
      return false;
    }
    return true;

  }
</script>